# This file contains pin mappings for the LDO Nitehawk-SB Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See https://docs.ldomotors.com/en/voron/nitehawk-sb#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-SB Toolboard Partial Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] sections

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

[mcu nitehawk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6635C469F775927-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Endstops
#####################################################################

## XES - Toolhead PCB
[stepper_x]
endstop_pin: nitehawk:gpio13

# ## YES - Toolhead PCB
# [stepper_y]
# endstop_pin: nitehawk:gpio12

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nitehawk:gpio23
dir_pin: nitehawk:gpio24
enable_pin: !nitehawk:gpio25
heater_pin: nitehawk:gpio9
sensor_pin: nitehawk:gpio29
pullup_resistor: 2200

rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75

sensor_type: PT1000
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 300.0
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
pressure_advance: 0.025 ; Polymaker Polylite ASA
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nitehawk:gpio0
tx_pin: nitehawk:gpio1
interpolate: false
run_current: 0.6

#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nitehawk:gpio6
#tachometer_pin: nitehawk:gpio17
#tachometer_ppr: 2

## HEF
[heater_fan hotend_fan]
pin: nitehawk:gpio5
# tachometer_pin: nitehawk:gpio16
# tachometer_ppr: 2

#####################################################################
# 	Probe
#####################################################################
## Probe Port
# [probe]
# pin: nitehawk:gpio10

#####################################################################
#   Lights
#####################################################################
## Stealthburner Headlights
[neopixel toolhead]
pin: nitehawk:gpio7
chain_count: 3
color_order: GRB
initial_RED: 0.4
initial_GREEN: 0.6
initial_BLUE: 0.4
initial_WHITE: 0.0

## PCB Activity Light
[output_pin act_led]
pin: !nitehawk:gpio8

#####################################################################
#   Accelerometer
#####################################################################
# [adxl345]
# cs_pin: nitehawk:gpio21
# spi_software_sclk_pin: nitehawk:gpio18
# spi_software_mosi_pin: nitehawk:gpio20
# spi_software_miso_pin: nitehawk:gpio19

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#    175, 175, 20

##--------------------------------------------------------------------

#####################################################################
#   Thermistors
# #####################################################################
# ## External Chamber Thermistor Port
# [temperature_sensor toolhead_ambient]
# sensor_type: fystec_ht_ntc100k
# sensor_pin: nitehawk:gpio28
# min_temp: 0
# max_temp: 100
# gcode_id: chamber_th

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor nitehawk]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nitehawk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: chamber_th

